.song-page {
  max-width: 500px;
  margin: 40px auto;
  text-align: center;
  color: white;
  padding: 20px;
  background: #000;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
}

.back-btn {
  color: #bbb;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
  display: inline-block;
}

.cover-img {
  width: 260px;
  height: 260px;
  object-fit: cover;
  border-radius: 20px;
  margin: 20px auto;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

.song-title {
  font-size: 26px;
  font-weight: bold;
  margin-top: 10px;
}

.song-artist {
  font-size: 18px;
  color: #aaa;
}

.progress-bar {
  width: 90%;
  margin: 25px auto;
  height: 6px;
  border-radius: 5px;
  background: #444;
}

progress::-webkit-progress-value {
  background: #1db954;
  border-radius: 5px;
}

.play-btn {
  margin-top: 25px;
  padding: 12px 26px;
  border-radius: 30px;
  border: none;
  font-size: 18px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  background: #1db954;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.play-btn:hover {
  background: #17a84a;
}

.player-wrapper {
  display: flex;
  justify-content: center;
}
