.song-container {
  height: 100vh;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

.album-img {
  width: 350px;
  height: 350px;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 0 25px rgba(255, 255, 255, 0.2);
}

.song-title {
  font-size: 28px;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.artist-name {
  font-size: 18px;
  color: #cccccc;
  margin-top: 5px;
  text-align: center;
}

/* progress bar */
.progress-bar {
  width: 80%;
  height: 6px;
  background: #444;
  border-radius: 4px;
  margin: 30px 0;
}

.progress {
  height: 100%;
  background: #1db954; /* spotify green */
  border-radius: 4px;
  transition: width 0.15s linear;
}

/* controls */
.player-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.control-btn,
.play-btn-big {
  background: transparent;
  border: none;
  font-size: 48px;
  cursor: pointer;
  color: #fff;
}

.control-btn:hover,
.play-btn-big:hover {
  transform: scale(1.2);
  transition: 0.15s ease;
}
.seek-bar {
  width: 60%;
  margin: 20px auto;
  display: block;
  height: 6px;
  appearance: none;
  background: #444;
  border-radius: 5px;
  cursor: pointer;
}

.seek-bar::-webkit-slider-thumb {
  appearance: none;
  width: 14px;
  height: 14px;
  background: #1db954;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0,255,0,0.7);
  transition: transform 0.2s ease-in-out;
}

.seek-bar::-webkit-slider-thumb:hover {
  transform: scale(1.3);
}
